*~
*.swp
host-tools/
*.sqfs
build/tools/common/sd_tools/genimage.cfg.tmp
fsbl/build/*
install/*
linux_5.10/build/*
middleware/v2/sample/ive/ive_stress
middleware/v2/sample/sample_panel/sample_panel
osdrv/extdrv/tp/ts_gsl/ts_gslX680.ko
osdrv/extdrv/tp/ts_gt9xx/gt9xx.ko
osdrv/extdrv/wiegand-gpio/cvi_wiegand_gpio.ko
osdrv/extdrv/wireless/aic8800/aic8800_bsp/aic8800_bsp.ko
osdrv/extdrv/wireless/aic8800/aic8800_btlpm/aic8800_btlpm.ko
osdrv/extdrv/wireless/rtl8733bs/8733bs.ko
osdrv/interdrv/v2/base/soph_base.ko
osdrv/interdrv/v2/cif/soph_mipi_rx.ko
osdrv/interdrv/v2/clock_cooling/soph_clock_cooling.ko
osdrv/interdrv/v2/dwa/soph_dwa.ko
osdrv/interdrv/v2/fast_image/soph_fast_image.ko
osdrv/interdrv/v2/fb/soph_fb.ko
osdrv/interdrv/v2/ive/soph_ive.ko
osdrv/interdrv/v2/mon/soph_mon.ko
osdrv/interdrv/v2/pwm/soph_pwm.ko
osdrv/interdrv/v2/rgn/soph_rgn.ko
osdrv/interdrv/v2/rtc/soph_rtc.ko
osdrv/interdrv/v2/rtos_cmdqu/soph_rtos_cmdqu.ko
osdrv/interdrv/v2/saradc/soph_saradc.ko
osdrv/interdrv/v2/snsr_i2c/soph_snsr_i2c.ko
osdrv/interdrv/v2/sys/soph_sys.ko
osdrv/interdrv/v2/tpu/soph_tpu.ko
osdrv/interdrv/v2/vcodec/soph_vcodec.ko
osdrv/interdrv/v2/vi/soph_vi.ko
osdrv/interdrv/v2/vo/soph_mipi_tx.ko
osdrv/interdrv/v2/vo/soph_vo.ko
osdrv/interdrv/v2/vpss/soph_vpss.ko
osdrv/interdrv/v2/wdt/soph_wdt.ko
osdrv/interdrv/v2/wiegand/soph_wiegand.ko
buildroot/board/cvitek/SG200X/overlay/mnt/
buildroot/board/cvitek/SG200X/overlay/mnt/system
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/cfg80211.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/gf128mul.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/tcp_westwood.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/tcp_htcp.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_dwa.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/loadsystemko.sh
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_mipi_tx.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_mipi_rx.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_base.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_vpss.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_rtc.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/ccm.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_rtos_cmdqu.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/libarc4.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_wdt.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/efivarfs.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_fast_image.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/gcm.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_clock_cooling.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_tpu.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_mon.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/ctr.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_vc_driver.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_wiegand.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/ghash-generic.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_vi.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_sys.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_vcodec.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_pwm.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_saradc.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_ive.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/mac80211.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_snsr_i2c.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_rgn.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/tcp_bic.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/3rd
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/3rd/ts_gslX680.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/3rd/aic8800_fdrv.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/3rd/8733bs.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/3rd/aic8800_btlpm.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/3rd/gt9xx.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/3rd/aic8800_bsp.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/3rd/cvi_wiegand_gpio.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_fb.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_vo.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/ko/soph_jpeg.ko
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libmipi_tx.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libmisc.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libvpu.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libcvi_ive.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libjson-c.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libdnvqe.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libtinyalsa.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libae.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libcvi_vqe.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libcvi_RES1.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libsns_gc4653.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libaacsbrdec2.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libosdc.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libcvi_audio.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libsns_full.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libcvi_bin.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libaacsbrenc2.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libcvi_VoiceEngine.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libisp_algo.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libaacdec2.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libcvi_ssp.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libjson-c.so.5.1.0
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libawb.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libvdec.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libaacenc2.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libsample.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libjson-c.so.5
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libvenc.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libraw_replay.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libaaccomm2.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/3rd
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/3rd/libcli.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/3rd/libini.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libraw_dump.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libaf.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libcvi_ispd2.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libisp.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libsys.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/lib/libcvi_bin_isp.so
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_vcodec
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_filter
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_map
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_and
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_thresh_U16
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_resize
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_add
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_sobel
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_hist
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_thresh_S16
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_ordstatfilter
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_vdecvo
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_dma
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_stcandicorner
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_gradfg
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_sub
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_erode
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_venc
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_16bitto8bit
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_gmm2
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sensor_test
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_audio
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_framediffmotion
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_gmm
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_magandang
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_lbp
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_csc
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_cannyedge
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_vdec
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_fisheye
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_dsi
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_or
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_overlay
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_bernsen
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_sad
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_integ
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_xor
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_region
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_query
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_filterandcsc
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_thresh
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_dilate
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_ncc
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_bgmodel
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_normgrad
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_vio
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/ive_stress
buildroot/board/cvitek/SG200X/overlay/mnt/system/usr/bin/sample_cannyhysedge
buildroot/board/cvitek/SG200X/overlay/mnt/system/sdk-release
buildroot/board/cvitek/SG200X/overlay/mnt/system/auto.sh
middleware/v2/mod_tmp/*
cscope.out
