*.d
*.o
*.a
*.so
*.dep
*.dwo

lib
bin
include
tags

*_asan
sample/audio/sample_audio
sample/audio/sample_audio_aec
sample/audio/sample_audio_nr
sample/audio/sample_audio_resample
sample/audio/sample_audio_transcode
sample/audio/sample_audio_rtos
sample/cipher/sample_cipher
sample/cvg/sample_cvg
sample/mipi_tx/sample_dsi
sample/fisheye/sample_fisheye
sample/overlay/sample_overlay
sample/region/sample_region
sample/venc/sample_vcodec
sample/vdec/sample_vdec
sample/venc/sample_venc
sample/vio/sample_vio
sample/vdecvo/sample_vdecvo
sample/multivenc/sample_multivenc
sample/ir_auto/ir_auto
sample/mipi_tx/lt9611/lt9611
sample/osdc/sample_osdc
sample/scene_auto/sample_scene_auto
sample/sensor_test/sensor_test
sample/tp2863_tp2803/sample_test_tp2863_tp2803

modules/venc/vc/jpeg/driver/bm_jpg_test
modules/venc/vc/jpeg/driver/bmjpuapi/bmjpegdec
modules/venc/vc/jpeg/driver/bmjpuapi/bmjpegenc
modules/venc/vc/vcodec/codebase/cvi_h265_enc_test
modules/venc/vc/vcodec/codebase/cvi_h264_dec
modules/venc/vc/vcodec/codebase/cvi_h265_dec
modules/venc/vc/jpeg/driver/cvi_jpg_codec

modules/venc/vc/vcodec/codebase/sample/cvi_vcodec_version.h
modules/venc/vc/jpeg/driver/include/version.h

.vscode/settings.json

modules/isp
